*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display:flex ;
    flex-direction: column;
    justify-content: center;
}

.container{
    max-width: 1120px;
    margin: 0 auto;
}
img{
    width: 300px;
}
input{
    padding: 10px 35px;
    background-color: mediumblue;
    color: white;
}

